.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Ensures it's always on top */
  top: 0; /* Stick to the top of the viewport */
  width: 100%;
  z-index: 1000; /* Ensure it's above other elements */
  background-color: transparent; /* Make background completely transparent */
  /* padding: 1vh 2vw; Adjust padding as needed */
}

.logo-image {
  margin-left: 5%;
  margin: 5vh; 
  display: flex;
  flex-direction: column;
  width: 10%;
  height: auto;
}

.MuiSvgIcon-root {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 3vh;  
  margin-right: 3%;
  margin: 2vh; 
  font-size:2rem;
  text-emphasis-color: pink;
}

.MuiSvgIcon-root:hover {
  opacity: 0.8;
}

/* h1 {
  color: #e42121;
}

h3 {
  color: #e00f0f;
} */
